.content {
  ol {
    margin-left: 1rem;
    font-weight: 500;
  }

  pre {
    background: #282c34;
    overflow: auto;
    font-family: 'Monaco', monospace;
    padding: 1rem 0.5rem;
    border-radius: 0.25rem;
    color: yellow;
    margin: 1rem 0;
    line-height: 150%;
    overflow: auto;
  }

  code {
    background: #282c34;
    color: yellow;
    padding: 0.5rem;
    border-radius: 4px;
    text-wrap: wrap;
  }
}
